.history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border: black solid 1px;
    background-color: white;
    border-radius: 1%;
    margin: 2%;
}

.history__info {
    font-size: small;
    text-align: left;
    padding-left: 10%;
}

.history__info--bold {
    font-size: medium;
    padding-left: 10%;

}