$primary-btn: #65c6e5; //blauw van button kleur
$fountain-blue: #59aac4; //donker blauw
$viking: #61bedb; //licht blauw
$color-black: black;
$transparent-white:rgb(255, 255, 255, 0.5);
$allert: #ff4444;

$font-sansserif: Arial, Helvetica, sans-serif;

$logo-image: "../source/includes/IMD_coin.png";