.alert {
    background-color: $allert;
    padding: 0.8em;
    margin-bottom: 1em;
    color: $color-black;
    font-family: $font-sansserif;
    border-radius: 1em;
    font-size: 1.2em;
    border: 0;
    align-content: center;
}