h1{
    @include text;
    font-size: 2.5em;
    padding-top: 1.5em;
}

h3{
    @include text;
    font-size: 2em;
    padding-top: 1em;
}

p{
    @include text;
    font-size: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
}