.hidden{
    display: none;
}

.input--text{
    font-size: 1.3em;
    font-family: $font-sansserif;
    width: 80%;
    padding: 0.8em;
    background-color: $transparent-white;
    margin-bottom: 1em;
    border-radius: 1.5em;
    border: 0;
}

.input--text::placeholder{
    color: $color-black;
    padding-left: 10px;
}

.select {
    width: 90%;
}